<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feedbackapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedbackApp">
        <activity android:name=".ChooseSub" />
        <activity android:name=".ChooseDept" />
        <activity android:name=".NewEnRequest" />
        <activity android:name=".CheckActivation" />
        <activity android:name=".MyProfile" />
        <activity android:name=".LastPage" />
        <activity android:name=".AfterLogin" />
        <activity android:name=".FeedbackForm" />
        <activity android:name=".StudentRegistration" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".phone_verify" />
        <activity android:name=".PhNumEntry" />
        <activity android:name=".ProfileUpdate" />
        <activity android:name=".Rules" />
        <activity android:name=".AboutUs" />
        <activity android:name=".PrivacyStatement" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>